Read the score matrix at https://github.com/gdv/qomics/raw/main/score1.csv

In [1]:
import pandas as pd

In [26]:
d = pd.read_csv("https://github.com/gdv/qomics/raw/main/score1.csv")
d

   N  A  C  G  T
0  A  0  2  4  2
1  C  2  0  3  1
2  G  4  3  1  1
3  T  2  1  1  0

In [15]:
nucleotides = list(d.columns)[1:]

In [16]:
nucleotides

['A', 'C', 'G', 'T']

In [27]:
d.set_index('N', inplace = True)
d

   A  C  G  T
N
A  0  2  4  2
C  2  0  3  1
G  4  3  1  1
T  2  1  1  0

In [28]:
d.loc['C']

A    2
C    0
G    3
T    1
Name: C, dtype: int64

In [29]:
d.loc['C']['A']

2

In [34]:
score = {}
for x in nucleotides:
    score[x] = {}
    for y in nucleotides:
        score[x][y] = d.loc[x][y]
        
#score['A']['C']
score

{'A': {'A': 0, 'C': 2, 'G': 4, 'T': 2},
 'C': {'A': 2, 'C': 0, 'G': 3, 'T': 1},
 'G': {'A': 4, 'C': 3, 'G': 1, 'T': 1},
 'T': {'A': 2, 'C': 1, 'G': 1, 'T': 0}}

In [31]:
score = {}
for x in nucleotides:
    for y in nucleotides:
        score[(x, y)] = d.loc[x][y]
        
#score[('A', 'C')]
score

{('A', 'A'): 0,
 ('A', 'C'): 2,
 ('A', 'G'): 4,
 ('A', 'T'): 2,
 ('C', 'A'): 2,
 ('C', 'C'): 0,
 ('C', 'G'): 3,
 ('C', 'T'): 1,
 ('G', 'A'): 4,
 ('G', 'C'): 3,
 ('G', 'G'): 1,
 ('G', 'T'): 1,
 ('T', 'A'): 2,
 ('T', 'C'): 1,
 ('T', 'G'): 1,
 ('T', 'T'): 0}

In [33]:
score = {}
for x in nucleotides:
    for y in nucleotides:
        score[x + y] = d.loc[x][y]
        
#score[('A' +  'C')]
score

{'AA': 0,
 'AC': 2,
 'AG': 4,
 'AT': 2,
 'CA': 2,
 'CC': 0,
 'CG': 3,
 'CT': 1,
 'GA': 4,
 'GC': 3,
 'GG': 1,
 'GT': 1,
 'TA': 2,
 'TC': 1,
 'TG': 1,
 'TT': 0}

In [35]:
d2 = pd.read_csv("https://github.com/gdv/qomics/raw/main/score2.csv")
d2

   N  A    C    G    T
0  A  0  NaN  NaN  NaN
1  C  2  0.0  NaN  NaN
2  G  4  3.0  1.0  NaN
3  T  2  1.0  1.0  0.0

In [36]:
d2.set_index('N', inplace = True)
d2

   A    C    G    T
N
A  0  NaN  NaN  NaN
C  2  0.0  NaN  NaN
G  4  3.0  1.0  NaN
T  2  1.0  1.0  0.0

In [37]:
score2 = {}
for x in nucleotides:
    score2[x] = {}
    for y in nucleotides:
        score2[x][y] = d2.loc[x][y]
        
#score['A']['C']
score2

{'A': {'A': 0.0, 'C': nan, 'G': nan, 'T': nan},
 'C': {'A': 2.0, 'C': 0.0, 'G': nan, 'T': nan},
 'G': {'A': 4.0, 'C': 3.0, 'G': 1.0, 'T': nan},
 'T': {'A': 2.0, 'C': 1.0, 'G': 1.0, 'T': 0.0}}

In [48]:
for x in nucleotides:
    for y in nucleotides:
        if pd.isna(score2[x][y]):
            score2[x][y] = score2[y][x]
        
#score['A']['C']
score2

{'A': {'A': 0.0, 'C': 2.0, 'G': 4.0, 'T': 2.0},
 'C': {'A': 2.0, 'C': 0.0, 'G': 3.0, 'T': 1.0},
 'G': {'A': 4.0, 'C': 3.0, 'G': 1.0, 'T': 1.0},
 'T': {'A': 2.0, 'C': 1.0, 'G': 1.0, 'T': 0.0}}

In [49]:
score

{'A': {'A': 0, 'C': 2, 'G': 4, 'T': 2},
 'C': {'A': 2, 'C': 0, 'G': 3, 'T': 1},
 'G': {'A': 4, 'C': 3, 'G': 1, 'T': 1},
 'T': {'A': 2, 'C': 1, 'G': 1, 'T': 0}}

In [52]:
for x in nucleotides:
    for y in nucleotides:
        if score[x][y] != int(score2[x][y]):
            print(score[x][y], score2[x][y])

In [53]:
blosum62 = pd.read_csv("https://github.com/gdv/qomics/raw/main/BLOSUM62.csv")
blosum62

    C  S  T  P  A  G  N  D  E  Q  H  R  K  M  I  L  V  F  Y   W
0   9 -1 -1 -3  0 -3 -3 -3 -4 -3 -3 -3 -3 -1 -1 -1 -1 -2 -2  -2
1  -1  4  1 -1  1  0  1  0  0  0 -1 -1  0 -1 -2 -2 -2 -2 -2  -3
2  -1  1  4  1 -1  1  0  1  0  0  0 -1  0 -1 -2 -2 -2 -2 -2  -3
3  -3 -1  1  7 -1 -2 -1 -1 -1 -1 -2 -2 -1 -2 -3 -3 -2 -4 -3  -4
4   0  1 -1 -1  4  0 -1 -2 -1 -1 -2 -1 -1 -1 -1 -1 -2 -2 -2  -3
5  -3  0  1 -2  0  6 -2 -1 -2 -2 -2 -2 -2 -3 -4 -4  0 -3 -3  -2
6  -3  1  0 -2 -2  0  6  1  0  0 -1  0  0 -2 -3 -3 -3 -3 -2  -4
7  -3  0  1 -1 -2 -1  1  6  2  0 -1 -2 -1 -3 -3 -4 -3 -3 -3  -4
8  -4  0  0 -1 -1 -2  0  2  5  2  0  0  1 -2 -3 -3 -3 -3 -2  -3
9  -3  0  0 -1 -1 -2  0  0  2  5  0  1  1  0 -3 -2 -2 -3 -1  -2
10 -3 -1  0 -2 -2 -2  1  1  0  0  8  0 -1 -2 -3 -3 -2 -1  2  -2
11 -3 -1 -1 -2 -1 -2  0 -2  0  1  0  5  2 -1 -3 -2 -3 -3 -2  -3
12 -3  0  0 -1 -1 -2  0 -1  1  1 -1  2  5 -1 -3 -2 -3 -3 -2  -3
13 -1 -1 -1 -2 -1 -3 -2 -3 -2  0 -2 -1 -1  5  1  2 -2  0 -1  -1
14 -1 -2 -2 -3 -1 -4 -3 -3 -3 -3 -3 -3 -3  1  4  2  3  0 -1  -3
15 -1 -2 -2 -3 -1 -4 -3 -4 -3 -2 -3 -2 -2  2  2  4  1  0 -1  -2
16 -1 -2 -2 -2  0 -3 -3 -3 -2 -2 -3 -3 -2  1  3  1  4 -1 -1  -3
17 -2 -2 -2 -4 -2 -3 -3 -3 -3 -3 -1 -3 -3  0  0  0 -1  6  3   1
18 -2 -2 -2 -3 -2 -3 -2 -3 -2 -1  2 -2 -2 -1 -1 -1 -1  3  7   2
19 -2 -3 -3 -4 -3 -2 -4 -4 -3 -2 -2 -3 -3 -1 -3 -2 -3  1  2  11

In [54]:
aa = list(blosum62.columns)
aa

['C',
 'S',
 'T',
 'P',
 'A',
 'G',
 'N',
 'D',
 'E',
 'Q',
 'H',
 'R',
 'K',
 'M',
 'I',
 'L',
 'V',
 'F',
 'Y',
 'W']

In [56]:
bl = {}
for x in range(20):
    bl[aa[x]] = {}
    for y in aa:
        bl[aa[x]][y] = blosum62.iloc[x][y]
bl

{'C': {'C': 9,
  'S': -1,
  'T': -1,
  'P': -3,
  'A': 0,
  'G': -3,
  'N': -3,
  'D': -3,
  'E': -4,
  'Q': -3,
  'H': -3,
  'R': -3,
  'K': -3,
  'M': -1,
  'I': -1,
  'L': -1,
  'V': -1,
  'F': -2,
  'Y': -2,
  'W': -2},
 'S': {'C': -1,
  'S': 4,
  'T': 1,
  'P': -1,
  'A': 1,
  'G': 0,
  'N': 1,
  'D': 0,
  'E': 0,
  'Q': 0,
  'H': -1,
  'R': -1,
  'K': 0,
  'M': -1,
  'I': -2,
  'L': -2,
  'V': -2,
  'F': -2,
  'Y': -2,
  'W': -3},
 'T': {'C': -1,
  'S': 1,
  'T': 4,
  'P': 1,
  'A': -1,
  'G': 1,
  'N': 0,
  'D': 1,
  'E': 0,
  'Q': 0,
  'H': 0,
  'R': -1,
  'K': 0,
  'M': -1,
  'I': -2,
  'L': -2,
  'V': -2,
  'F': -2,
  'Y': -2,
  'W': -3},
 'P': {'C': -3,
  'S': -1,
  'T': 1,
  'P': 7,
  'A': -1,
  'G': -2,
  'N': -1,
  'D': -1,
  'E': -1,
  'Q': -1,
  'H': -2,
  'R': -2,
  'K': -1,
  'M': -2,
  'I': -3,
  'L': -3,
  'V': -2,
  'F': -4,
  'Y': -3,
  'W': -4},
 'A': {'C': 0,
  'S': 1,
  'T': -1,
  'P': -1,
  'A': 4,
  'G': 0,
  'N': -1,
  'D': -2,
  'E': -1,
  'Q': -1,
  'H': -2,
  'R': -1,
  'K': -1,
  'M': -1,
  'I': -1,
  'L': -1,
  'V': -2,
  'F': -2,
  'Y': -2,
  'W': -3},
 'G': {'C': -3,
  'S': 0,
  'T': 1,
  'P': -2,
  'A': 0,
  'G': 6,
  'N': -2,
  'D': -1,
  'E': -2,
  'Q': -2,
  'H': -2,
  'R': -2,
  'K': -2,
  'M': -3,
  'I': -4,
  'L': -4,
  'V': 0,
  'F': -3,
  'Y': -3,
  'W': -2},
 'N': {'C': -3,
  'S': 1,
  'T': 0,
  'P': -2,
  'A': -2,
  'G': 0,
  'N': 6,
  'D': 1,
  'E': 0,
  'Q': 0,
  'H': -1,
  'R': 0,
  'K': 0,
  'M': -2,
  'I': -3,
  'L': -3,
  'V': -3,
  'F': -3,
  'Y': -2,
  'W': -4},
 'D': {'C': -3,
  'S': 0,
  'T': 1,
  'P': -1,
  'A': -2,
  'G': -1,
  'N': 1,
  'D': 6,
  'E': 2,
  'Q': 0,
  'H': -1,
  'R': -2,
  'K': -1,
  'M': -3,
  'I': -3,
  'L': -4,
  'V': -3,
  'F': -3,
  'Y': -3,
  'W': -4},
 'E': {'C': -4,
  'S': 0,
  'T': 0,
  'P': -1,
  'A': -1,
  'G': -2,
  'N': 0,
  'D': 2,
  'E': 5,
  'Q': 2,
  'H': 0,
  'R': 0,
  'K': 1,
  'M': -2,
  'I': -3,
  'L': -3,
  'V': -3,
  'F': -3,
  'Y': -2,
  'W': -3},
 'Q': {'C': -3,
  'S': 0,
  'T': 0,
  'P': -1,
  'A': -1,
  'G': -2,
  'N': 0,
  'D': 0,
  'E': 2,
  'Q': 5,
  'H': 0,
  'R': 1,
  'K': 1,
  'M': 0,
  'I': -3,
  'L': -2,
  'V': -2,
  'F': -3,
  'Y': -1,
  'W': -2},
 'H': {'C': -3,
  'S': -1,
  'T': 0,
  'P': -2,
  'A': -2,
  'G': -2,
  'N': 1,
  'D': 1,
  'E': 0,
  'Q': 0,
  'H': 8,
  'R': 0,
  'K': -1,
  'M': -2,
  'I': -3,
  'L': -3,
  'V': -2,
  'F': -1,
  'Y': 2,
  'W': -2},
 'R': {'C': -3,
  'S': -1,
  'T': -1,
  'P': -2,
  'A': -1,
  'G': -2,
  'N': 0,
  'D': -2,
  'E': 0,
  'Q': 1,
  'H': 0,
  'R': 5,
  'K': 2,
  'M': -1,
  'I': -3,
  'L': -2,
  'V': -3,
  'F': -3,
  'Y': -2,
  'W': -3},
 'K': {'C': -3,
  'S': 0,
  'T': 0,
  'P': -1,
  'A': -1,
  'G': -2,
  'N': 0,
  'D': -1,
  'E': 1,
  'Q': 1,
  'H': -1,
  'R': 2,
  'K': 5,
  'M': -1,
  'I': -3,
  'L': -2,
  'V': -3,
  'F': -3,
  'Y': -2,
  'W': -3},
 'M': {'C': -1,
  'S': -1,
  'T': -1,
  'P': -2,
  'A': -1,
  'G': -3,
  'N': -2,
  'D': -3,
  'E': -2,
  'Q': 0,
  'H': -2,
  'R': -1,
  'K': -1,
  'M': 5,
  'I': 1,
  'L': 2,
  'V': -2,
  'F': 0,
  'Y': -1,
  'W': -1},
 'I': {'C': -1,
  'S': -2,
  'T': -2,
  'P': -3,
  'A': -1,
  'G': -4,
  'N': -3,
  'D': -3,
  'E': -3,
  'Q': -3,
  'H': -3,
  'R': -3,
  'K': -3,
  'M': 1,
  'I': 4,
  'L': 2,
  'V': 3,
  'F': 0,
  'Y': -1,
  'W': -3},
 'L': {'C': -1,
  'S': -2,
  'T': -2,
  'P': -3,
  'A': -1,
  'G': -4,
  'N': -3,
  'D': -4,
  'E': -3,
  'Q': -2,
  'H': -3,
  'R': -2,
  'K': -2,
  'M': 2,
  'I': 2,
  'L': 4,
  'V': 1,
  'F': 0,
  'Y': -1,
  'W': -2},
 'V': {'C': -1,
  'S': -2,
  'T': -2,
  'P': -2,
  'A': 0,
  'G': -3,
  'N': -3,
  'D': -3,
  'E': -2,
  'Q': -2,
  'H': -3,
  'R': -3,
  'K': -2,
  'M': 1,
  'I': 3,
  'L': 1,
  'V': 4,
  'F': -1,
  'Y': -1,
  'W': -3},
 'F': {'C': -2,
  'S': -2,
  'T': -2,
  'P': -4,
  'A': -2,
  'G': -3,
  'N': -3,
  'D': -3,
  'E': -3,
  'Q': -3,
  'H': -1,
  'R': -3,
  'K': -3,
  'M': 0,
  'I': 0,
  'L': 0,
  'V': -1,
  'F': 6,
  'Y': 3,
  'W': 1},
 'Y': {'C': -2,
  'S': -2,
  'T': -2,
  'P': -3,
  'A': -2,
  'G': -3,
  'N': -2,
  'D': -3,
  'E': -2,
  'Q': -1,
  'H': 2,
  'R': -2,
  'K': -2,
  'M': -1,
  'I': -1,
  'L': -1,
  'V': -1,
  'F': 3,
  'Y': 7,
  'W': 2},
 'W': {'C': -2,
  'S': -3,
  'T': -3,
  'P': -4,
  'A': -3,
  'G': -2,
  'N': -4,
  'D': -4,
  'E': -3,
  'Q': -2,
  'H': -2,
  'R': -3,
  'K': -3,
  'M': -1,
  'I': -3,
  'L': -2,
  'V': -3,
  'F': 1,
  'Y': 2,
  'W': 11}}

In [60]:
s = 'RPITTVWCHNHCTAYMTVRVWYHVLADTVMVSCSRCLTNMNMPGKTAEDTKGWLANYAVTKDDGYLVQSCWYYYEDCFTTKRTKKGTDKNNRMPWNISA'
t = 'NQNMMKLQFTWKFNNGDLMLWCHQHDMRHNFYFHLRINMRISTDMVGICDMLFGVYLPLWLYRPACGRECGTTMWVGVDMASYARYVIHGTIYLCRQPL'

In [62]:
sum([bl[c1][c2] for (c1, c2) in zip(s, t) if c1 == c2])

28